body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: 0 12px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
}

.brand img{
    width: 44px;
    padding: 0px 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 15px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg11.jpg');
}

.bottom{
    position: sticky;
    height: 80px;
    color: white;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 5px;
}

.icons i{
    cursor: pointer;
    padding: 2px;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.header{
    margin-bottom: 25px;
}

.songItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    cursor: pointer;
    padding: 4px;
}

.songItem img{
    padding-left: 10px;
    height: 32px;
    width: 32px;
}

#cover_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    display: flex;
    justify-content: center;
    align-items: center;
}


